# Server Instance Configuration
PORT=8080
NODE_ENV='development'
S3_REVERSE_PROXY_URL=''

# AWS General Configuration
AWS_REGION='ap-south-1'
AWS_ACCESS_KEY_ID='YOUR_AWS_ACCESS_KEY_ID'
AWS_SECRET_ACCESS_KEY='YOUR_AWS_SECRET_ACCESS_KEY'

# Database Configuration (Neon/Postgres)
DATABASE_URL='YOUR_DATABASE_URL'

# AWS S3 Storage Service
# Provide a unique bucket name for each environment
S3_BUCKET_NAME='black-video-transcoding-v1'

# AWS SQS Queue Service (Updated by setup script)
AWS_SQS_QUEUE_URL='https://sqs.ap-south-1.amazonaws.com/946538336177/react-app-deploy-queue'

# AWS ECS Compute Configuration (Updated by setup scripts)
ECS_CLUSTER_ARN='arn:aws:ecs:ap-south-1:946538336177:cluster/react-app-deploy-cluster'
ECS_TASK_DEFINITION_ARN='arn:aws:ecs:ap-south-1:946538336177:task-definition/react-app-deploy-task:10'
ECS_CONTAINER_NAME='transcoding-container'
ECS_SUBNETS='subnet-05c68dd3a627592e8,subnet-08d2420c3b04ffa59,subnet-038b33fbff594471a'
ECS_SECURITY_GROUPS='sg-0b39269074690c33f'
