# AWS General Configuration
AWS_REGION='ap-south-1'
AWS_ACCESS_KEY_ID='YOUR_AWS_ACCESS_KEY_ID'
AWS_SECRET_ACCESS_KEY='YOUR_AWS_SECRET_ACCESS_KEY'

# S3 Configuration
S3_BUCKET_NAME='YOUR_S3_BUCKET_NAME'

# Database Configuration (Neon/Postgres)
DATABASE_URL='YOUR_DATABASE_URL'

# Transcoding Job Context (Usually injected at runtime by ECS)
VIDEO_ID=''
VIDEO_URL=''
